<%= form_with(model: status, local: true) do |form| %>
  <% if status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :last_tested %>
    <%= form.text_field :last_tested %>
  </div>

  <div class="field">
    <%= form.label :date, %>
    <%= form.text_field :date, %>
  </div>

  <div class="field">
    <%= form.label :last_test_result %>
    <%= form.text_field :last_test_result %>
  </div>

  <div class="field">
    <%= form.label :integer, %>
    <%= form.text_field :integer, %>
  </div>

  <div class="field">
    <%= form.label :curr_status %>
    <%= form.text_field :curr_status %>
  </div>

  <div class="field">
    <%= form.label :integer, %>
    <%= form.text_field :integer, %>
  </div>

  <div class="field">
    <%= form.label :curr_health %>
    <%= form.text_field :curr_health %>
  </div>

  <div class="field">
    <%= form.label :integer, %>
    <%= form.text_field :integer, %>
  </div>

  <div class="field">
    <%= form.label :next_test %>
    <%= form.text_field :next_test %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
